<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      :rail="rail"
      class="pt-4"
      color="grey-lighten-3"
      permanent
    >
      <v-list-item
        prepend-avatar="https://logowik.com/content/uploads/images/n8nio4659.jpg"
        title="Deógenes Nicoletti"
        nav
      >
        <template v-slot:append>
          <v-btn
            variant="text"
            icon="mdi-chevron-left"
            @click.stop="rail = !rail"
          ></v-btn>
        </template>
      </v-list-item>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          prepend-icon="mdi-view-dashboard-variant-outline"
          title="Workflow"
          value="workflow"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>

      <v-app-bar :elevation="1">
        <v-app-bar-title>Meu Workflow</v-app-bar-title>

        <v-spacer></v-spacer>

        <v-btn icon @click="saveWorkflowClick">
          <v-icon>mdi-content-save-outline</v-icon>
        </v-btn>
      </v-app-bar>
      
      <div id="container">
        <component :is="flow.type" v-for="flow in workflow.flows" :flow="flow" :workflowId="workflow.Id" @remove="removeComponent" @mounted="bindFlow"></component>
      </div>
    </v-main>

    <v-navigation-drawer
      v-model="drawer"
      :rail="rrail"
      class="pt-4"
      color="grey-lighten-3"
      location="right"
      permanent
    >
      <v-list-item
        title="Componentes"
      >
        <template v-slot:append>
          <v-btn
            variant="text"
            icon="mdi-chevron-left"
            @click.stop="rrail = !rrail;"
          ></v-btn>
        </template>
      </v-list-item>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          @click="generalDrawer = Date.now()"
          prepend-icon="mdi-view-dashboard-variant-outline"
          title="Outros"
          value="outros"
        ></v-list-item>

        <v-list-item
          @click="webhookDrawer = Date.now()"
          prepend-icon="mdi-view-dashboard-variant-outline"
          title="Requisições"
          value="requests"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <general-components :drawer="generalDrawer" @newComponent="newComponent"></general-components>

    <webhook-components :drawer="webhookDrawer" @newComponent="newComponent"></webhook-components>
  </v-app>
</template>

<script>
  window.instance = null;
  import { newInstance } from "@jsplumb/browser-ui"
  import ConsoleFlowComponent from '../components/flows/ConsoleFlowComponent.vue'
  import ScriptFlowComponent from '../components/flows/ScriptFlowComponent.vue'
  import WebhookSiteFlowComponent from '../components/flows/WebhookSiteFlowComponent.vue'
  import GeneralComponents from './WorkflowView/GeneralComponents.vue'
  import WebhookComponents from './WorkflowView/WebhookComponents.vue'

  export default {
    components: {
      ConsoleFlowComponent,
      ScriptFlowComponent,
      WebhookSiteFlowComponent,
      GeneralComponents,
      WebhookComponents
    },
    data() {
      return {
        instance: null,
        workflow: {
          Id: null,
          flows: []
        },
        drawer: true,
        rail: false,
        rrail: false,
        generalDrawer: false,
        webhookDrawer: false,
      }
    },
    methods: {
      init: async function(){
      /*this.workflow.flows.push(
        {
          id: '3',
          type: 'webhook-site-flow-component',
          connections: [
          ],
          position: { x: 460, y: 150 }
        }
        );*/

      await new Promise((resolve, reject) => setTimeout(resolve, 100));

      window.instance = newInstance({
        container: document.querySelector("#container"),
        endpoint: {
          type: "Blank",
          options:{
            radius: 2
          }
        },
        connector:{
          type: "Bezier",
          options:{
            curviness: 5
          }
        }
      });
    
      window.instance.importDefaults({
        reattachConnections: false,
        anchors:[
          //{ type: "Continuous", options:{ faces:[ "right" ] } }
          [ 0.9, 0.25, 0, 0.5 ],
          [ 0.1, 0.25, 0, 0.5 ],
        ]
      });

      instance.addSourceSelector(".saida", {
        endpoint: {
          type: "Dot",
          options:{ radius: 2 },
        },
        connectorOverlays:[
          { type:"Arrow", options:{ width:10, length:10, location:1, id:"arrow" } },
          {
            type:"Custom",
            options: {
              create:(component) => {
                  const d = document.createElement("i")
                  d.classList.add('mdi')
                  d.classList.add('mdi-delete-empty')
                  //d.innerHTML = "X"
                  return d
              },
              events:{
                click:(e, o) => {
                  instance.deleteConnection(e.overlay.component.connector.connection)
                }
              },
              location:0.5,
            }
          }
        ]
      })

      instance.addTargetSelector(".entrada", {});

      window.initZoom();

      let response = await fetch(`http://localhost:3000/workflow/${this.$route.params.id}`);
      let workflow = await response.json();
      this.workflow.Id = workflow.Id;
      this.workflow.flows = workflow.Template.flows;
      },
      newComponent: async function(id){
        let uuid = `flow-${this.workflow.Id}-${Date.now()}${this.workflow.flows.length + 1}`

        let flow = {
          id: uuid,
          type: id,
          connections: [],
          position: { x: 10, y: 10 }
        }

        this.workflow.flows.push(flow);
      },
      async removeComponent(flowId){
        instance.unmanage(instance.getManagedElement(flowId), true);
        await this.saveWorkflowClick();
      },
      async saveWorkflowClick(){
        let flows = await this.getCurrentFlowsToJSON();

        let workflow = Object.assign({}, this.workflow);
        workflow.flows = flows;

        await fetch("http://localhost:3000/workflow/1", {
          body: JSON.stringify({ Template: workflow }),
          headers: {
            'Content-type': 'application/json'
          },
          method: 'PUT'
        });
      },
      async bindFlowConnections(flow)
      {
        for(let connection of flow.connections)
        {
          let nodeInterval = null;

          await new Promise((resolve, reject) => {
            nodeInterval = setInterval(() => {
              let source = instance.getManagedElement(flow.id);
              let target = instance.getManagedElement(connection.id)

              if(source != null && target != null)
                resolve()
            }, 50);
          });

          clearInterval(nodeInterval);

          let instanceConnection = new Object({
            source: document.querySelector(`#${flow.id}`),
            target: document.querySelector(`#${connection.id}`),
            overlays: [
              { type:"Arrow", options:{ width:10, length:10, location:1, id:"arrow" } },
              {
                type:"Custom",
                options: {
                  create:(component) => {
                      const d = document.createElement("i")
                      d.classList.add('mdi')
                      d.classList.add('mdi-delete-empty')
                      return d
                  },
                  events:{
                    click:(e, o) => {
                      instance.deleteConnection(e.overlay.component.connector.connection)
                    }
                  },
                  location:0.5,
                }
              }
            ]
          })

          window.instance.connect(instanceConnection);
        }
      },
      async bindFlow(flow)
      {
        let node = document.querySelector(`#${flow.id}`);
        let nodeEndpoint = window.instance.addEndpoint(node, {});

        instance.setPosition(node, { x: flow.position.x, y: flow.position.y });
        instance.setElementPosition(node, flow.position.x, flow.position.y);

        await this.bindFlowConnections(flow);
        await this.saveWorkflowClick();
      },
      getCurrentFlowsToJSON()
      {
        let flows = [];

        let nodes = window.instance.getManagedElements();
        let nodeKeys = Object.keys(nodes);

        for(let nodeKey of nodeKeys)
        {
          let flow = this.workflow.flows.find(x => x.id == nodeKey);

          let node = nodes[nodeKey];

          let targetConnections = node.connections.filter(x => x.sourceId == flow.id);

          let connections = targetConnections.map(x => {
            return { id: x.targetId }
          });

          flow.connections = connections;
          flow.position = instance.getPosition(node.el);
          flows.push(flow);
        }

        return flows;
      }
    },
    beforeMount() {
    },
    mounted() {
      this.init();
    }
  }

  window.fnGetScale = () => {
    let bodyTransform = document.querySelector('body').style.transform || 'scale(1)';
    let regexTransform = /scale\(([0-9.]+)/gm;
    let scale = parseFloat( regexTransform.exec(bodyTransform)[1] );

    return scale;
  }

  window.applyZoom = async (pointerX, pointerY) => {

    const duration = 200;

    let hasZoom = fnGetScale() > 1;
    
    if(hasZoom)
    {
      $('body').zoomTo({targetsize: 1, duration: duration, preservescroll: true});

      await new Promise((resolve, reject) => setTimeout(resolve, duration * 1.1))
      instance.setZoom(fnGetScale());
      return;
    }

    if(pointerX == null && pointerY == null)
      return;

      let zoomElement = document.createElement('div');
      zoomElement.style.position = 'absolute'
      zoomElement.style.left = `${pointerX}px`
      zoomElement.style.top = `${pointerY}px`
      zoomElement.style.padding = '1em'
      zoomElement.style.border = '1px solid'
      zoomElement.style.opacity = 0;

      document.body.appendChild(zoomElement);

      $(zoomElement).zoomTo({targetsize: 0.1, duration: duration, preservescroll: true})

      await new Promise((resolve, reject) => setTimeout(resolve, duration * 1.1))
      
      let zoom = fnGetScale();
      instance.setZoom(zoom);

      zoomElement.remove();
  }

  window.initZoom = () => {
    window.instance.setZoom(1);

    document.querySelector('#container').addEventListener('dblclick', (event) => {

      if(event.target.id != event.currentTarget.id)
        return;
        
      window.applyZoom(event.clientX, event.clientY);
    })
  }

  var pointerX, pointerY = 0;
  var capturePointer = null;
  var clickedScroll = false;

  document.onmousemove = async (event) => {

    if(capturePointer == null)
    {
      capturePointer = new Promise((s,r) => {
        setTimeout(() => {
          pointerX = event.clientX;
          pointerY = event.clientY;
          capturePointer = null;
          s();
        }, 300)
      });
    }

    if(clickedScroll == false)
      return;

    let windowHeight = window.innerHeight;
    let windowWidght = window.innerWidth;

    let posX = event.clientX;
    let posY = event.clientY;

    let currentPositionX = posX - pointerX;
    let currentPositionY = posY - pointerY;

    let containerElement = document.querySelector('#container');

    containerElement.scrollLeft += currentPositionX;
    containerElement.scrollTop += currentPositionY;
    
    console.log({
      MouseY: posY,
      MouseX: posX,
      OldX: pointerX,
      OldY: pointerY,
      DiffY: currentPositionY,
      DiffX: currentPositionX
    });
  }

  window.addEventListener("mouseup", function (e) {
    if(e.button != 1)
      return;

    clickedScroll = false;
  });

  window.addEventListener("mousedown", function (e) {
    if(e.button != 1)
      return;

    clickedScroll = true;
    console.log('clickedScroll', clickedScroll)
  });

  </script>

<style>
  #container{
    background: url('/workflow-bg.png');
    background-size: 4px;
    transform: scale(1);

    overflow: hidden;
    position: relative;
    height: 99vh;
    width: auto;
    border: 1px dashed;
  }

  .grid-template-saida
  {
    grid-template-columns: 90% 10%;
    grid-template-areas:
    "conteudo saida"
    "titulo titulo";
  }

  .grid-template-ambos
  {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
    "entrada conteudo saida"
    "titulo titulo titulo";
  }

  .component{
    padding: .1em;
    /*border: .1px dashed blue;*/
    position: absolute;
    align-items: center;
    display: grid;
    width: 50px;
  }

  .component .entrada,
  .component .saida,
  .component .conteudo{
    border: 1px solid;
  }

  .component .titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
  }

  .component .entrada{
    height: 50%;
    left: 2px;
    grid-area: entrada;
    background-color: #a3ff5d;
    border: .7px solid;
    position: relative;
  }

  .component .saida{
    height: 50%;
    left: -2px;
    grid-area: saida;
    background-color: red;
    border: .7px solid;
    position: relative;
  }

  .component .conteudo{
    padding: 0 .3em;
    height: 100%;
    display: grid;
    grid-area: conteudo;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
  }

  .jtk-endpoint-anchor-saida{
    display: none;
    color: red;
  }
</style>