<template>
  <v-navigation-drawer
    v-model="open"
    :rail="rrail"
    class="pt-4"
    color="grey-lighten-3"
    location="right"
    temporary
  >
    <v-list-item
      title="Requisições"
    >
    </v-list-item>

    <v-divider></v-divider>

    <v-list>
      <v-list-item v-for="menu in menus"
        :prepend-icon="menu.icon"
        :title="menu.title"
        :value="menu.value"
        @click="open = false; $emit('newComponent', menu.value)"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    components: {
    },
    props: {
      drawer: false
    },
    data() {
      return {
        open: false,
        rrail: false,
        menus: [
          {
            value: 'webhook-site-flow-component',
            title: 'Webhook.site',
            icon: 'mdi-view-dashboard-variant-outline'
          }
        ]
      }
    },
    methods: {
    },
    watch: {
      drawer(newValue, oldValue) {
        this.open = true;
      }
    },
  }
</script>