<script>
import DialogComponent from './DialogComponent.vue'

export default {
  components: {
    DialogComponent
  },
  emits: ['remove'],
  props: {
    flow: Object
  },
  data() {
    return {
      dialog: false,
      hideOptions: true 
    }
  },
  mounted() {
  },
  methods: {
    removeFlow(){
      this.dialog = false;
      this.$emit('remove', this.flow.id);
    }
  },
}
</script>
    
<template>
  <div class="grid-template-saida component" :id="flow.id" v-on:dblclick="dialog = true">
    <div class="conteudo">
      <v-img
        src="https://cdn.icon-icons.com/icons2/2248/PNG/512/console_icon_138727.png"
        height="22"
        width="22"
        class="bg-grey-lighten-2"
      ></v-img>
    </div>
    <div class="saida"></div>
    <div class="titulo">Console</div>
  </div>

  <dialog-component :dialog="dialog" :title=" 'Consolelog - Configurações ' + '#' + this.flow.id" @remove="removeFlow" @closed="this.dialog = false">
    <template v-slot:container>
      <div class="pa-3">Este componente imprime uma mensagem padrão</div>
    </template>
  </dialog-component>
</template>