<template>
  <div>
    <v-row justify="space-around">
      <v-col cols="auto">
        <v-dialog
          transition="dialog-bottom-transition"
          width="auto"
          v-model="active"
          persistent
        >
          <template v-slot:default="{ isActive }">
            <v-card>
              <v-toolbar
                class="pa-2"
                color="primary"
                :title="title"
              ></v-toolbar>
              
              <slot name="container"></slot>
  
              <v-card-actions class="justify-end">
                <v-btn
                variant="text"
                @click="$emit('remove', data)"
                >Remover</v-btn>

                <v-btn
                  variant="text"
                  @click="$emit('closed', data)"
                >Salvar e sair</v-btn>
              </v-card-actions>

            </v-card>
          </template>
        </v-dialog>
      </v-col>
    </v-row>
  
    <v-snackbar
      v-model="snackbar"
    >
      {{ snackbarText }}
    </v-snackbar>
  </div>
</template>

<script>
    export default {
      props: {
        dialog: false,
        title: null
      },
      data() {
        return {
          active: false,
          snackbar: false,
          snackbarText: null
        }
      },
      watch: {
        dialog(newValue, oldValue) {
          this.active = newValue;

          if(fnGetScale() > 1)
          {
            applyZoom();
            this.snackbarText = "O zoom foi ajustado automaticamente"
            this.snackbar = true;   
          }
        }
      },
      mounted() {
      },
      methods: {
      },
    }
</script>