<script>
    import DialogComponent from './DialogComponent.vue'

    export default {
      components: {
        DialogComponent
      },
      emits: ['remove', 'mounted'],
      props: {
        workflowId: String,
        flow: Object
      },
      data() {
        return {
          dialog: false,
          data: {
            Properties: {
              Url: null,
              Method: null
            }
          },
          methods: ['POST', 'GET'],
        }
      },
      async mounted() {
        await this.initializeFlow();

        this.$emit('mounted', this.flow);
      },
      methods:
      {
        async initializeFlow(){
          let response = await fetch(`http://localhost:3000/flow/${this.flow.id}`);

          if(response.status == 404)
          {
            await this.createFlow();
            await this.createFlowDefinition();
          }

          response = await fetch(`http://localhost:3000/flow/${this.flow.id}`);
        },
        async createFlow(){
          await fetch(`http://localhost:3000/flow/`, {
            headers: {
              "Content-Type": "application/json"
            },
            method: 'POST',
            body: JSON.stringify({
              "Id": this.flow.id,
              "QualifiedName": "WebhookSiteFlowModel",
              "Sequence": 1,
              "WorkflowId": this.workflowId
            })
          });
        },
        async createFlowDefinition(){
          await fetch(`http://localhost:3000/flow/definition`, {
            method: 'POST',
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              Id: `${this.flow.id}-${Date.now()}${this.workflowId}`,
              Properties: this.data.Properties,
              FlowId: this.flow.id
            })
          });
        },
        async updateFlowDefinition(){
          this.dialog = false;

          var myHeaders = new Headers();
          myHeaders.append("Content-Type", "application/json");

          var raw = JSON.stringify(this.data);

          var requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw
          };

          await fetch(`http://localhost:3000/flow/${this.flow.id}/definition`, requestOptions);
        },
        async removeFlow(){

          await fetch(`http://localhost:3000/flow/${this.flow.id}`, {
            method: 'DELETE'
          });

          this.dialog = false;
          this.$emit('remove', this.flow.id);
        }
      }
    }
</script>
    
<template>
  <div class="grid-template-ambos component" :id="flow.id" v-on:dblclick="dialog = true">
    <div class="entrada"></div>
    <div class="conteudo">
      <v-img
        src="https://webhook.site/icon.png"
        height="22"
        width="22"
        class="bg-grey-lighten-2"
      ></v-img>
    </div>
    <div class="saida"></div>
    <div class="titulo">Webhhok.site</div>
  </div>

  <dialog-component :dialog="dialog" :title=" 'Webhook.site - Configurações ' + '#' + this.flow.id" @remove="removeFlow" @closed="updateFlowDefinition">
    <template v-slot:container>
      <v-container class="pa-6">
        <v-row>
          <v-col cols="12">
            Este componente permite a você enviar um Webhook ao Webhhok.site com as informações recebidas
          </v-col>
          <v-col cols="12">
            <v-text-field
              label="Url"
              required
              hide-details
              v-model="data.Properties.Url"
            ></v-text-field>
          </v-col>

          <v-col cols="12">
            <v-combobox
            v-model="data.Properties.Method"
            :items="methods"
            label="Metodo"
            ></v-combobox>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </dialog-component>
</template>